.card {
  line-height: 1.35rem;
  margin-bottom: 3rem;
  display: block;
  &-img-top {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  &-body {
    margin-bottom: 1rem;
    .card-title {
      margin-bottom: 1rem;
    }
  }
  &-title {
    @include text-overflow(3);
    font-weight: bold;
  }
  &-text {
    @include text-overflow(3);
    color: map-get($color, 'gray');
    font-weight: 400;
  }
  &-footer {
    @include align-center;
  }
}
