@mixin create-grid-system($sizeScreen) {
  @for $i from 1 through 12 {
    @if (str-length($sizeScreen) > 0) {
      .col-#{$sizeScreen}-#{$i} {
        width: percentage($i / 12);
        padding: 0 24px;
      }
    } @else {
      .col-#{$i} {
        width: percentage($i / 12);
        padding: 0 24px;
      }
    }
  }
}
@include create-grid-system('');
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -24px;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media screen and (max-width: 1400px) {
  @include create-grid-system('xxl');
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  @include create-grid-system('xl');
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  @include create-grid-system('lg');
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  @include create-grid-system('md');
  .container {
    max-width: 540px;
  }
}
