header {
  border-bottom: 1px solid map-get($color, 'black');
  background-color: map-get($color, 'white-snow');
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.3s;
  .page-header {
    @include flex-center-between;
    height: 75px;
    font-weight: bold;
    .logo {
      &-letter {
        font-size: 150%;
      }
    }
    .group-nav-link,
    .list-nav-link,
    .header-action {
      @include flex-center-between;
    }
    .list-nav-link {
      &:nth-child(n) {
        display: none;
      }
      .nav-link {
        color: map-get($color, 'black');
        margin: 0 1rem;
        white-space: nowrap;
        transition: 0.3s;
      }
    }
  }
}
.active {
  background-color: map-get($color, 'black-transparent');
  backdrop-filter: blur(0.5rem);
  transition: 0.3s;
  .page-header {
    .brand {
      color: map-get($color, 'white-snow');
      transition: 0.3s;
    }
    .list-nav-link {
      .nav-link {
        color: map-get($color, 'white-snow');
        transition: 0.3s;
      }
    }
  }
}
@media only screen and (min-width: 576px) {
  header {
    .page-header {
      .list-nav-link:nth-child(1) {
        display: block;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  header {
    .page-header {
      .list-nav-link:nth-child(n) {
        display: block;
      }
    }
  }
}
