$color: (
  "primary": #F79918,
  "gray": rgba(117, 117, 117, 1),
  "gray-light": #F8F9FA,
  "black": rgba(41, 41, 41, 1),
  "black-transparent": rgba(41, 41, 41, 0.3),
  "white-snow": #FFFFFF,
);
$font-size: (
  "xs": .6rem,
  "sm": 0.813rem,
  "normal": 0.875rem,
  "lg": 1rem,
  "xl": 1.375rem,
  "xxl": 1.5rem,
);
$font-family: 'Poppins', sans-serif;
