$color: (
  primary: rgba(117, 117, 117, 1),
  black: rgba(41, 41, 41, 1),
  green: rgb(26, 137, 23),
);
$font-size: (
  sm: 0.813rem,
  normal: 0.875rem,
  lg: 1rem,
  xxxl: 1.375rem,
);
$font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
