.card {
  border: 1px solid #e5e5e5;
  margin: 1.5rem auto;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  &-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }
  &-body {
    padding: 1rem;
    .card-title {
      margin-bottom: 0.5rem;
    }
  }
  &-title {
    @include text-overflow(1);
    font-size: 130%;
    font-weight: bold;
    line-height: 150%;
    margin: 0.5rem auto;
    color: map-get($color, 'black-midnight');
  }
  &-content {
    color: map-get($color, 'gray');
    font-weight: 400;
    line-height: 150%;
  }
  &-footer {
    @include flex-center-between;
    height: 4rem;
    padding: 0 1rem;
    border-top: 1px solid #eee;
  }
}
